# Berlin Building Industry monthly (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/02-silver/berlin-building-industry-2023-11/berlin-building-industry-2023-11-8-companies-employees-working-hours-and-salaries-q4-2022.csv")

In [2]:

# Display 5 first rows
dataframe.head()

          period        companies  ... turnover_total  turnover_building_construction
0  Ausbaugewerbe              NaN  ...            NaN                             NaN
1           43.2  Bauinstallation  ...           5326                          158277
2          43.21              NaN  ...           1515                           45816
3          43.22              NaN  ...           2385                           70360
4        43.29.1              NaN  ...            764                           13851

[5 rows x 7 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   period                          13 non-null     object
 1   companies                       2 non-null      object
 2   employees                       10 non-null     object
 3   working_hours                   12 non-null     float64
 4   salaries                        12 non-null     object
 5   turnover_total                  12 non-null     object
 6   turnover_building_construction  12 non-null     object
dtypes: float64(1), object(6)
memory usage: 860.0+ bytes

In [4]:

# Describe dataframe
dataframe.describe()

       working_hours
count      12.000000
mean       67.500000
std        75.374821
min         1.000000
25%        22.750000
50%        35.000000
75%        95.250000
max       258.000000